@import '@/styles/_media';
@import '@/styles/_index';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $white;
}

.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 6rem;
}

@include media(mobile) {
  .box {
    padding: 0 3rem;
  }
}

@include media(tablet) {
  .box {
    padding: 0 2rem;
  }
}
