@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
  font-size: 1.6rem;
  color: $black;
}

.registerLayout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  border: 1px solid $gray-400;
}

.registerButton {
  width: 100%;
  padding: 0 10rem;
}

.modalBox {
  position: absolute;
  top: 6rem;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow-y: scroll;
  background: $gray-100;
}

.title {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  color: $black;
}

.description {
  font-size: 1.6rem;
  color: $black;
}

@include media(mobile) {
  .layout {
    padding: 2rem;
  }

  .registerLayout {
    gap: 1.6rem;
    padding: 10rem 1rem;
  }

  .registerButton {
    padding: 0 1rem;
  }
}
