@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  font-size: 1.6rem;
  padding: 3rem;
  flex-grow: 1;
  max-width: 1200px;
}

.title {
  margin: 3rem 0;
}

.shopLayout {
  background: $red-600;
  padding: 2.6rem;
  @include rounded-xl;
}

.shopBox {
  display: flex;
  gap: 1.6rem;
}

.shopInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainImage {
  @include rounded-lg;
}

.label {
  color: $red-400;
  @include font-bold;
}

.address1 {
  display: flex;
  align-items: center;
  color: $gray-500;
}

.buttonBox {
  display: flex;
  gap: 3rem;
}

.registerLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-400;
  padding: 10rem;
  gap: 3rem;
}

.registerButton {
  width: 100%;
  padding: 0 10rem;
}

.modalBox {
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cardList {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.4rem;
}

@include media(mobile) {
  .shopBox {
    flex-direction: column;
  }

  .mainImage {
    width: 100%;
    height: auto;
  }

  .buttonBox {
    gap: 0.6rem;
  }

  .registerLayout {
    padding: 10rem 1rem;
    gap: 1.6rem;
  }

  .registerButton {
    padding: 0 1rem;
  }
}

@include media(tablet) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}
