@import '@/styles/_index';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 29.8rem;
  height: 18.4rem;
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;

  @include font-normal;
}

.selectionBox {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.negativeButton {
  font-size: 1.4rem;
  line-height: 1.753rem;

  @include color-box;
}

.positiveButton {
  font-size: 1.4rem;
  line-height: 1.753rem;

  @include color-box(fill);
}
