@import '@/styles/_index';

.wrapper {
  width: 29.8rem;
  height: 18.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text {
  @include font-normal;
}

.selectionBox {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.negativeButton {
  @include color-box;
}

.positiveButton {
  @include color-box(fill);
}
