.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
}
.suggestWrapper {
  display: flex;
  width: 100vw;
  padding: 6rem calc(50vw - 48.2rem);
  flex-direction: column;
  align-items: flex-start;
  background: #ffebe7;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 6rem calc(50vw - 48.2rem);
}
.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}
