@use '@/styles/color' as c;
@use '@/styles/mixins' as m;

.layout {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  line-height: 2rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
    transform: scale(0.95);
  }

  @include m.rounded-lg;
}

.large {
  padding: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.medium {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.small {
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.orange {
  color: c.$white;
  background: c.$red-500;
}

.white {
  color: c.$red-500;
  background: c.$white;
  border: 0.1rem solid c.$red-500;
}

.disabled {
  color: c.$white;
  pointer-events: none;
  background: c.$gray-500;
}

.blue {
  color: c.$blue-200;
  background: c.$white;
  border: 0.1rem solid c.$blue-200;
}
