@import '@/styles/_index';

.wrapper {
  position: relative;
}

.labelWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  @include font-normal;
  color: $gray-600;
  font-size: 1.6rem;
  line-height: 2.6rem;
  cursor: pointer;
}
