@import '@/styles/_index';
@import '@/styles/_media';

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $white;
}
.wrapper {
  width: 35rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 4rem;
}

.text {
  margin-top: 2rem;
  @include font-normal;
  font-size: 1.6rem;
  line-height: 1.909rem;
}
