@import '@/styles/_index';

.banner {
  text-align: center;
  border: 1px solid $gray-400;
  border-radius: 0.7rem;
  padding: 8rem 3rem;
}

.bannerDescription {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.3rem;
}
