@import '@/styles/_index';
@import '@/styles/_media';

.tableContainer {
  overflow: hidden;
  border: 1px solid $gray-400;

  @include rounded-lg;
}

.wrapper {
  max-width: 98rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.sectionTitle {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
}

.applyList {
  min-height: 46rem;
  padding-top: 6rem;
  margin-top: 5rem;
  background-color: $gray-100;
}
