@import '@/styles/_index';

.layout {
  width: 100%;
}

.label {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $black;

  @include font-normal;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-top: 0.8rem;
  resize: none;
  background: $input-background;
  border: 1px solid $gray-500;

  @include rounded-sm;
}

.singleCharacterUnit {
  padding-right: 4rem;
}

.doubleCharacterUnit {
  padding-right: 6rem;
}

.unit {
  position: absolute;
  top: 2rem;
  right: 2rem;

  @include font-normal;

  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $all-black;
}

.error {
  border: 1px solid $red-400;

  &:focus {
    border: 1px solid $red-400;
    outline: none;
  }
}

.errorMessage {
  display: block;
  width: 100%;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $red-400;
}

.messageHidden {
  min-height: 1.6rem;
  visibility: hidden;
}
