@import '@/styles/_index';
@import '@/styles/_media';

.container {
  position: absolute;
  top: 8%;
  right: 4rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  padding: 3rem;
  background-color: $white;
  border-radius: 2rem;
}

.title {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.shopTitle {
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.title.noticeTitle {
  padding-bottom: 1rem;
  margin-bottom: 1.3rem;
  border-bottom: 2px solid $red-600;
}

.cover {
  position: relative;
  flex-shrink: 0;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  border-radius: 0.6rem;
}

.shop {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 2rem;
}

.shopName .shopDescription .shopOriginalPay {
  margin-bottom: 1rem;
}

.shopName {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.shopDescription {
  display: -webkit-box;
  margin-bottom: 0.7rem;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  color: $orange-200;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.address {
  margin-bottom: 1rem;
  color: $gray-700;
}

.shopOriginalPay {
  margin-bottom: 0.5rem;
  color: $gray-700;
}

.shopListContainer {
  height: 50rem;
  padding-top: 0.5rem;
  overflow: scroll;
}

.shopListContainer::-webkit-scrollbar {
  display: none;
  scrollbar-width: 1rem;
}

.shopListContainer::-webkit-scrollbar-thumb {
  color: $red-400;
}

.shopList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.shopListItem {
  padding-bottom: 1rem;
  border-bottom: 1px solid $beige;
}

.btn {
  padding: 0.5em 1.2em;
  margin-top: 1rem;
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  background-color: $orange-100;
  border: none;
  border-radius: 3rem;
}

.itemDes {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.itemPay {
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}

.itemDay {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.empty {
  margin-bottom: 2rem;
}

.shopListTitle {}

.closed {
  font-size: 1.2rem;
  color: #aaa;
}

.pending {
  color: #ff8d72;
}
