@import '@/styles/_index';
@import '@/styles/_media';

.container {
  position: absolute;
  width: 400px;
  height: 700px;
  background-color: #fff;
  z-index: 9999;
  top: 8%;
  right: 4rem;
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.shopTitle {
  justify-content: space-between;
}

.closeButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.title.noticeTitle {
  border-bottom: 2px solid #f5613d;
  padding-bottom: 1rem;
  margin-bottom: 1.3rem;
}

.cover {
  width: 9rem;
  height: 9rem;
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
  flex-shrink: 0;
}

.shop {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 2rem;
  align-items: center;
}

.shopName .shopDescription .shopOriginalPay {
  margin-bottom: 1rem;
}

.shopName {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.shopDescription {
  color: #ee4116;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.address {
  color: #888888;
  margin-bottom: 1rem;
}

.shopOriginalPay {
  margin-bottom: 0.5rem;
  color: #888888;
}

.shopListContainer {
  overflow: scroll;
  height: 50rem;
  padding-top: 0.5rem;
}

.shopListContainer::-webkit-scrollbar {
  display: none;
  scrollbar-width: 1rem;
}

.shopListContainer::-webkit-scrollbar-thumb {
  color: red;
}

.shopList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.shopListItem {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1rem;
}

.btn {
  border: none;
  padding: 0.5em 1.2em;
  border-radius: 3rem;
  font-weight: bold;
  color: $white;
  background-color: #f5613d;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: auto;
}

.itemDes {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.itemPay {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.itemDay {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.empty {
  margin-bottom: 2rem;
}

.shopListTitle {
}

.closed {
  font-size: 1.2rem;
  color: #aaa;
}

.pending {
  color: #ff8d72;
}
