@import '@/styles/_index';
@import '@/styles/_media';

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
}

.title {
  margin-left: 0.3rem;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
  letter-spacing: 0.056rem;
}

.cardWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.4rem;
  width: 98rem;
}

@include media(tablet) {
  .cardWrapper {
    width: 66.6rem;
  }

  .cardWrapper {
    grid-template-columns: 1fr 1fr;
    width: 37.1rem;
  }

  .cardWrapper>*:nth-child(n + 3) {
    display: none;
  }
}

@include media(mobile) {
  .cardWrapper {
    grid-template-columns: 1fr 1fr;
    width: 37.1rem;
  }

  .cardWrapper>*:nth-child(n + 3) {
    display: none;
  }
}
