$white: #ffffff;
$black: #111322;
$gray-100: #fafafa;
$gray-200: #f2f2f3;
$gray-300: #e5e4e7;
$gray-400: #cbc9cf;
$gray-500: #a4a1aa;
$gray-600: #7d7986;
$red-100: #ff3b37;
$red-200: #ffaf9b;
$red-300: #ff8d72;
$red-400: #ff4040;
$red-500: #ea3c12;
$red-600: #ffebe7;
$red-700: #ffebe7;
$blue-100: #cce6ff;
$blue-200: #0080ff;
$green-100: #d4f7d4;
$green-200: #20a81e;
$yellow-kakao: #fee500;
