@import '@/styles/_index';
@import '@/styles/_media';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54rem;
  height: 25rem;
}

.text {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  line-height: 2.148rem;

  @include font-normal;
}

.selectionBox {
  position: absolute;
  right: 2.5rem;
  bottom: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 12rem;
  height: 4.8rem;
}

.button {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.909rem;

  @include color-box(fill);
}

@include media(mobile) {
  .wrapper {
    width: 32.7rem;
    height: 22rem;
  }

  .text {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    line-height: 1.909rem;
  }

  .selectionBox {
    top: 13rem;
    left: 9.5rem;
    width: 13.8rem;
    height: 4.2rem;
  }

  .button {
    font-size: 1.4rem;
    line-height: 1.671rem;
  }
}
