@import '@/styles/_index';
@import '@/styles/_media';

.recentViewWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  span {
    color: $black;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.056rem;
  }
}
.recentViewGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.4rem;
  grid-row-gap: 3.2rem;
  width: 100%;
}
.recentViewnotExist {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media(tablet) {
  .recentViewGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@include media(mobile) {
  .recentViewGrid {
    grid-column-gap: 0.8rem;
    grid-row-gap: 1.6rem;
  }
}
