@import '@/styles/_index';
@import '@/styles/_media';

.recentViewWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;

  span {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $black;
    letter-spacing: 0.056rem;
  }
}

.recentViewGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem 1.4rem;
  width: 100%;
}

.recentViewnotExist {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media(tablet) {
  .recentViewGrid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media(mobile) {
  .recentViewGrid {
    grid-gap: 1.6rem 0.8rem;
  }
}
