@import '@/styles/_index';
@import '@/styles/_media';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.title {
  color: $black;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.056rem;
  margin-left: 0.3rem;
}
.cardWrapper {
  display: flex;
  width: 98rem;
  position: relative;
  margin-left: -0.9rem;
  :global {
    .slick-track {
      display: flex;
      gap: 1.4rem;
    }
    .slick-slide {
      width: 32.8rem !important;
    }
  }
}
.alertWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.4rem;
}

@include media(tablet) {
  .cardWrapper {
    width: 66.6rem;

    :global {
      .slick-track {
        display: flex;
        gap: 1.4rem;
      }
      .slick-slide {
        width: 32.8rem !important;
      }
    }
  }
  .alertWrapper {
    width: 63.8rem;
  }
}
@include media(mobile) {
  .cardWrapper {
    width: 37.1rem;

    :global {
      .slick-track {
        display: flex;
        gap: 1.4rem;
      }
      .slick-slide {
        width: 18.5rem !important;
      }
    }
  }
  .alertWrapper {
    width: 35.6rem;
    span {
      font-size: 2.4rem;
    }
  }
}
