@import '@/styles/_index';
@import '@/styles/_media';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
}

.title {
  margin-left: 0.3rem;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
  letter-spacing: 0.056rem;
}

.cardWrapper {
  position: relative;
  display: flex;
  width: 98rem;
  margin-left: -0.9rem;

  :global {
    .slick-track {
      display: flex;
      gap: 1.4rem;
    }

    .slick-slide {
      width: 32.8rem !important;
    }
  }
}

.alertWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96.4rem;
  height: 34.8rem;
}

@include media(tablet) {
  .cardWrapper {
    width: 66.6rem;
    }
  
  .alertWrapper {
    width: 63.8rem;
  }
}

@include media(mobile) {
  .cardWrapper {
    width: 37.1rem;
  }
  
  .alertWrapper {
    width: 35.6rem;

    span {
      font-size: 2.4rem;
    }
  }
}
