@import '@/styles/_index';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 29.8rem;
  height: 18.4rem;
}

.text {
  @include font-normal;
}

.button {
  @include color-box;
}
