@import '@/styles/_media';

.layout {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}

@include media(tablet) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
