@import '@/styles/_index';
@import '@/styles/_media';

.title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.shopLayout {
  background: $red-600;
  padding: 2.6rem;
  margin-bottom: 5rem;
  @include rounded-xl;
}

.shopBox {
  display: flex;
  gap: 1.6rem;
}

.shopInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainImage {
  @include rounded-lg;
}

.label {
  color: $red-400;
  @include font-bold;
}

.address1 {
  display: flex;
  align-items: center;
  color: $gray-500;
}

.buttonBox {
  display: flex;
  gap: 3rem;
}

.modalBox {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 8rem;
  bottom: k;
  left: 0;
  right: 0;
  background: $gray-100;
  min-height: 100%;
}

@include media(mobile) {
  .shopBox {
    flex-direction: column;
  }

  .mainImage {
    width: 100%;
    height: auto;
  }

  .buttonBox {
    gap: 0.6rem;
  }
}
