@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 1.6rem;
  background: $gray-100;
}

.title {
  font-size: 2.6rem;
  color: $black;
}

.text {
  color: $black;
}

.box {
  width: 100%;
  padding: 5rem 10rem;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 5rem;
}

.closeIcon {
  cursor: pointer;
}

.form {
  display: grid;
  grid-template:
    'name category'
    'address1 address2'
    'originalHourlyPay .'
    'uploadImage uploadImage'
    'description description'
    'registerButton registerButton';
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.name {
  grid-area: name;
}

.category {
  grid-area: category;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.originalHourlyPay {
  grid-area: originalHourlyPay;
}

.uploadImage {
  grid-area: uploadImage;
}

.description {
  grid-area: description;
  width: 100%;
}

.registerButton {
  grid-area: registerButton;
  width: 100%;
}

.margin {
  min-height: 1.6rem;
  margin-top: 0.8rem;
}

@include media(mobile) {
  .form {
    display: grid;
    grid-template:
      'name'
      'category'
      'address1'
      'address2'
      'originalHourlyPay'
      'uploadImage'
      'description'
      'registerButton';
    grid-template-columns: 1fr;
  }

  .box {
    padding: 1rem;
  }
}
