@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: $gray-100;
  padding: 6rem 0;
}

.Box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titleBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 2.8rem;
  line-height: 3.36rem;
  margin-bottom: 3.2rem;
}

.closeIcon {
  cursor: pointer;
}

.form {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template:
    'name category'
    'address1 address2'
    'originalHourlyPay .'
    'uploadImage uploadImage'
    'description description'
    'registerButton registerButton';
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.inputWrapper {
  width: 47.2rem;
}

.name {
  grid-area: name;
}

.category {
  grid-area: category;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.originalHourlyPay {
  grid-area: originalHourlyPay;
}

.uploadImage {
  grid-area: uploadImage;
  width: 48.3rem;
  height: 27.6rem;
}

.description {
  grid-area: description;
}

.registerButton {
  width: 100%;
  padding: 0 32.6rem;
  grid-area: registerButton;
}

@include media(tablet) {
  .inputWrapper {
    width: 33rem;
  }
  .registerButton {
    padding: 0 18.4rem;
  }
}

@include media(mobile) {
  .form {
    display: flex;
    flex-direction: column;
    width: 35.1rem;
  }

  .inputWrapper {
    width: 35.1rem;
  }

  .uploadImage {
    width: 35.1rem;
  }
  .registerButton {
    padding: 0;
  }
}
