@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  z-index: 999;
  background: $gray-100;
}

.title {
  font-size: 2.6rem;
}

.Box {
  width: 100%;
  padding: 0 10rem;
}

.titleBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0 5rem 0;
}

.closeIcon {
  cursor: pointer;
}

.form {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template:
    'name category'
    'address1 address2'
    'originalHourlyPay .'
    'uploadImage uploadImage'
    'description description'
    'registerButton registerButton';
  grid-template-columns: 1fr 1fr;
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.name {
  grid-area: name;
}

.category {
  grid-area: category;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.originalHourlyPay {
  grid-area: originalHourlyPay;
}

.uploadImage {
  grid-area: uploadImage;
}

.description {
  grid-area: description;
  width: 100%;
}

.registerButton {
  width: 100%;
  grid-area: registerButton;
}

.margin {
  margin-top: 0.8rem;
  min-height: 1.6rem;
}

@include media(mobile) {
  .form {
    width: 100%;
    display: grid;
    grid-template:
      'name'
      'category'
      'address1'
      'address2'
      'originalHourlyPay'
      'uploadImage'
      'description'
      'registerButton';
    grid-template-columns: 1fr;

    gap: 2rem;
  }
}
