@import '@/styles/_index';
@import '@/styles/_media';

.layout {
  position: relative;
  width: 48.3rem;
  height: 27.6rem;
  display: flex;
  justify-content: center;
}

.uploadButton {
  opacity: 0;
  position: absolute;
  border: none;
  background: $white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  transition:
    opacity 1s ease,
    background 1s ease,
    transform 1s ease;

  @include rounded-xl;
}

.uploadText {
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

.noneImage {
  opacity: 1;
}

.shopImage {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  @include rounded-xl;
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.layout:hover {
  .uploadButton {
    opacity: 1;
    background: $red-600;
    transform: scale(1.05);
  }

  .shopImage {
    opacity: 0;
    transform: scale(1.05);
  }
}

@include media(mobile) {
  .layout {
    width: 35.1rem;
    height: 20rem;
  }
}
