@import '@/styles/_index';
@import '@/styles/_media';

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

.memberTypeWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.label {
  @include font-normal;

  font-size: 1.6rem;
  line-height: 1.92rem;
  color: $black;
  letter-spacing: 2%;
}

.buttonWrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  width: 100%;
}

.submitWrapper {
  width: 100%;
  margin-top: 1.4rem;
}

@include media(mobile) {
  .loginForm {
    gap: 1rem;
  }
}
