@import '@/styles/_index';

.container {
  width: fit-content;
  margin: 9rem auto;
  text-align: center;
}

.title {
  font-size: 6.2rem;
  color: $red-300;
}

.description {
  margin: 2rem 0 3rem;
  font-size: 2rem;
}

.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}
