@import '@/styles/_index';
@import '@/styles/_media';

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.suggestWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  padding: 6rem calc(50vw - 48.2rem);
  background: $red-100;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 6rem calc(50vw - 48.2rem);
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.headerDataExisted {
  display: none !important;
}

@include media(tablet) {
  .suggestWrapper {
    padding: 6rem calc(50vw - 31.9rem);
  }

  .mainWrapper {
    padding: 6rem calc(50vw - 31.9rem);
  }
}

@include media(mobile) {
  .suggestWrapper {
    padding: 4rem calc(50vw - 17.8rem);
  }

  .mainWrapper {
    padding: 4rem calc(50vw - 17.8rem) 8rem;
  }
}
