@import '@/styles/_index';

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 20rem;
}

.text {
  height: 5rem;
  font-size: 1.6rem;

  @include font-normal;
}

.buttonBox {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  width: 16rem;
}
