@import '@/styles/_index';

.wrapper {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  width: 16.7rem;
  padding: 1.3rem 4.1rem;
  cursor: pointer;
  border: 0.1rem solid $gray-400;
  border-radius: 3rem;
}

.checked {
  border-color: $red-500;
}

.text {
  @include font-normal;

  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $black;
}

.checkEmpty {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid $gray-400;
  border-radius: 100%;
}
