@import '@/styles/_index';
@import '@/styles/_media';

.shopDetail {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.titleWrappper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.title {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: $red-500;
}

.shopTitle {
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
  text-overflow: ellipsis;
  letter-spacing: 0.056rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.notice {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 96.3rem;
  padding: 2.4rem;
  background: $white;
  border: 1px solid $gray-300;
  border-radius: 1.2rem;
}

.shopImageWrapper {
  position: relative;
  width: 54.8rem;
  height: 30.8rem;
  border-radius: 1.2rem;

  img {
    border-radius: 1.2rem;
  }
}

.completeWrapper {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 70%) 100%);
  border-radius: 1.2rem;

  .complete {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $gray-400;
    text-align: center;
    letter-spacing: 0.056rem;
  }
}

.noticeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34.6rem;
  height: 100%;
  padding-top: 1.6rem;
}

.noticeInfo {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: 34.6rem;
}

.noticeInfoTitle {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.noticeInfoSalary {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: flex-start;
  width: 100%;

  .raise {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    height: 3.6rem;
    padding: 1.2rem;
    background: $red-500;
    border-radius: 2rem;
    transition: transform infi ease-in-out;

    &:hover {
      animation: scaleanimation 1s infinite;
    }

    @keyframes scaleanimation {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }

    span {
      display: -webkit-box;
      overflow: hidden;
      font-family: 'Spoqa Han Sans Neo';
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: $white;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.noticeInfoTimeLoc {
  display: flex;
  gap: 0.6rem;
  align-items: center;

  span {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
    color: $gray-600;
  }
}

.noticeInfoDescription {
  display: -webkit-box;
  height: 5.8rem;
  overflow: hidden;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  color: $black;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.shopDescription {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  width: 100%;
  padding: 3.2rem;
  background: $gray-200;
  border-radius: 1.2rem;

  .titleDescription {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    color: $black;
  }

  .description {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
    color: $black;
  }
}

@include media(tablet) {
  .shopDetail {
    width: 68rem;
  }

  .notice {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 68rem;
  }

  .shopImageWrapper {
    position: relative;
    width: 63.2rem;
    height: 36.1rem;
    border-radius: 1.2rem;
  }

  .noticeInfo {
    width: 63.2rem;
  }
}

@include media(mobile) {
  .shopDetail {
    width: 35.1rem;
  }

  .notice {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 35.1rem;
    padding: 2rem;
  }

  .shopImageWrapper {
    position: relative;
    width: 31.1rem;
    height: 17.8rem;
    border-radius: 1.2rem;
  }

  .noticeInfo {
    width: 31.1rem;
  }
}
