.btnContainer {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: inherit;
  border: 0.1rem solid currentColor;
  border-radius: 0.5rem;
  padding: 0.8rem 1.3rem;
  font-size: 1.4rem;
  @include font-bold;
  cursor: pointer;
}

.btn.accept {
  color: #0080ff;
}

.btn.reject {
  color: #ea3c12;
}
