@import '@/styles/_index';
@import '@/styles/_media';

.container {
  overflow: hidden;
}

.table {
  width: 100%;
  overflow-x: auto;

  /* white-space nowrap 시 필요 */
  table-layout: fixed;
}

.tr {
  border-bottom: 1px solid $gray-400;
}

.thead .tr {
  border: none;
}

.th {
  padding: 1.2rem 0;
  padding-left: 0.6rem;
  font-size: 1.2rem;
  text-align: left;
  background-color: #ffebe7;

  @include font-normal;
}

.td {
  padding: 1.3rem 0;
  padding-left: 0.6rem;
  overflow: hidden;
  font-size: 1.3rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $white;
}

@include media(tablet) {
  .penult {
    display: none;
  }
}

@include media(mobile) {
  .middles {
    display: none;
  }
}
