@use '@/styles/index' as i;

.container {
  max-width: 960px;
  @include i.rounded-lg;
  border: 1px solid i.$gray-400;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.table {
  width: 960px;
  display: block;
}

.tr:not(:first-child) {
  border-top: 1px solid i.$gray-400;
}

.th {
  padding: 6px 0;
  background-color: #ffebe7;
  @include i.text-base;
  @include i.font-normal;
  font-size: 14px;
}

.firstColumn {
  width: 250px;
  position: sticky;
  left: 0;
}

.td:first-child {
  position: sticky;
  z-index: 1;
  left: 0;
}

.secondColumn {
  width: 260px;
}

.thirdColumn {
  width: 200px;
}

.forthColumn {
  width: 250px;
}

.td {
  padding: 8px 0;
  text-align: center;
  @include i.text-base;
  font-size: 16px;
  background-color: #fff;
}

.paginationContainer {
  position: sticky;
  left: 0;
}
