@import '@/styles/_index';
@import '@/styles/_media';

.textMediumMedium {
  font-size: 1.6rem;
  line-height: 2rem;
}

.textMediumLarge {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.wrapper {
  width: 100%;
  padding: 6rem 0;
  color: $black;
  background-color: $white;
}

.storeWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

.storeTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: "Spoqa Han Sans Neo";
}

.storeCategory {
  @include font-bold;

  color: $red-500;
}

.storeName {
  @include font-bold;

  font-size: 2.8rem;
  line-height: 3.36rem;
  letter-spacing: 2%;
}

.noticeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96.4rem;
  padding: 2.4rem;
  background-color: $white;
  border: 0.1rem solid $gray-300;
  border-radius: 1.2rem;
}

.imageWrapper {
  position: relative;
  border-radius: 1.2rem;
}

.storeImage {
  border-radius: 1.2rem;
}

.imageTextWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
  line-height: 3.36rem;
  color: $gray-400;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 1.2rem;

  @include font-bold;
}

.noticeFlexWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noticeContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
  width: 34.6rem;
  padding-top: 1.6rem;
  font-family: "Spoqa Han Sans Neo";
}

.noticeTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.noticeTitleText {
  @include font-bold;

  color: $red-500;
}

.noticeTitleContentWrapper {
  display: flex;
  flex-flow: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.8rem;
  line-height: 3.506rem;
  color: $black;
  letter-spacing: 2%;

  @include font-bold;
}

.hourlyPayLabel {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  height: 3.6rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.753rem;
  color: $white;
  background-color: $red-500;
  border-radius: 2rem;

  @include font-bold;
}

.noticeLabelWrapper {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: $gray-600;

  @include font-normal;
}

.storeDescription {
  display: -webkit-box;
  width: 34.6rem;
  height: 7.8rems;
  overflow: hidden;
  color: $black;
  word-break: break-all;
  white-space: pre-wrap;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include font-normal;
}

.noticeDescription {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 96.4rem;
  padding: 3.2rem;
  background-color: $gray-200;
  border-radius: 1.2rem;
}

.descriptionTitlte {
  @include font-bold;

  color: $black;
}

.descriptionContent {
  @include font-normal;

  width: 100%;
  color: $black;
  word-break: break-all;
  white-space: pre-wrap;
}

@include media(tablet) {
  .noticeWrapper {
    flex-direction: column;
    width: 68rem;
  }

  .storeImage {
    width: 63.2rem;
    height: 36.086rem;
  }

  .imageTextWrapper {
    line-height: 3.506rem;
  }

  .noticeFlexWrapper {
    gap: 3.2rem;
  }

  .noticeContentWrapper {
    width: 63.2rem;
  }

  .storeDescription {
    width: 63.2rem;
    height: 5.2rem;
    -webkit-line-clamp: 2;
  }

  .noticeDescription {
    width: 68rem;
  }
}

@include media(mobile) {
  .textMediumMedium {
    font-size: 1.4rem;
    line-height: 1.68rem;
  }

  .textMediumLarge {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .wrapper {
    padding: 4rem 0;
  }

  .noticeWrapper {
    gap: 1.6rem;
    width: 35.1rem;
  }

  .storeName {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .noticeWrapper {
    width: 35.1rem;
    padding: 2rem;
  }

  .imageTextWrapper {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .storeImage {
    width: 31.1rem;
    height: 17.771rem;
  }

  .noticeContentWrapper {
    gap: 0.8rem;
    width: 31.1rem;
  }

  .hourlyPayLabel {
    gap: 0.2rem;
    height: 2.4rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .noticeTitleContentWrapper {
    gap: 0.4rem;
    font-size: 2.4rem;
    line-height: 2.88rem;
  }

  .notionLabelImage {
    width: 1.6rem;
    height: 1.6rem;
  }

  .storeDescription {
    width: 31.1rem;
    height: 6.6rem;
  }

  .noticeDescription {
    gap: 0.8rem;
    width: 35.1rem;
    padding: 2rem;
  }
}
