@import '@/styles/_index';
@import '@/styles/_media';

.section {
  width: 100%;
  padding: 6rem 0;
  background-color: $gray-100;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  width: 96.4rem;
  height: 100%;
  margin: 0 auto;
}

.title {
  @include font-bold;

  font-size: 2.8rem;
  line-height: 3.36rem;
  color: $black;
  letter-spacing: 2%;
}

@include media(tablet) {
  .wrapper {
    width: 68rem;
  }

  .title {
    line-height: 3.506rem;
  }
}

@include media(mobile) {
  .section {
    padding: 4rem 0;
  }

  .wrapper {
    gap: 0.8rem;
    width: 35.1rem;
  }

  .title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
