@use '@/styles/color' as c;
@use '@/styles/mixins' as m;
@use '@/styles/media' as r;

@mixin common {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@mixin font1 {
  color: c.$black;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin font2 {
  color: c.$gray-600;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  @include r.media('mobile') {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.cardWrapper {
  @include common;
  padding: 1.6rem;
  width: 31.2rem;
  min-width: 31.2rem;
  height: 34.8rem;
  min-height: 34.8rem;
  gap: 2.4rem;
  border-radius: 1.2rem;
  border: 0.1rem solid c.$gray-300;
  background: c.$white;
  cursor: pointer;
  @include r.media('mobile') {
    padding: 1.2rem;
    width: 17.1rem;
    height: 26rem;
    min-width: 17.1rem;
    min-height: 26rem;
    gap: 1.2rem;
  }
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 16rem;
  overflow: hidden;
  border-radius: 1.2rem;
  @include r.media('mobile') {
    max-height: 9.1rem;
  }
}
.contentWrapper {
  @include common;
  width: 100%;
  gap: 2.4rem;
}
.infoWrapper {
  @include common;
  gap: 0.8rem;
  .title {
    @include font1;
    font-size: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    @include r.media('mobile') {
      font-size: 1.6rem;
    }
  }
  .info {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
    .icon {
      width: 1.6rem;
      height: 1.6rem;
    }
    .time {
      @include font2;
    }
    .location {
      @include font2;
    }
  }
}

.salaryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include r.media('mobile') {
    flex-direction: column;
    align-items: flex-start;
  }
  .salary {
    @include font1;
    font-size: 2.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .raise {
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      padding: 1.2rem;
      gap: 0.6rem;
      align-items: center;
      border-radius: 2rem;
      background: c.$red-400;
    }

    span {
      color: c.$white;
      text-align: center;
      font-family: 'Spoqa Han Sans Neo';
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include r.media('mobile') {
        color: c.$red-400;
        text-align: center;
        font-family: 'Spoqa Han Sans Neo';
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
      }
    }
    .raiseicon {
      display: flex;
      width: 1.3rem;
      height: 1.3rem;
      @include r.media('mobile') {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
.completedDesk {
  background-color: c.$gray-300 !important;
}
.completedMobile {
  background-color: c.$white;
}
.completeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  .complete {
    color: c.$gray-400;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.056rem;
  }
}
