@use '@/styles/color' as c;
@use '@/styles/mixins' as m;
@use '@/styles/media' as r;

@mixin common {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin font1 {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: c.$black;
}

@mixin font2 {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: c.$gray-600;

  @include r.media('mobile') {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.cardWrapper {
  @include common;

  gap: 2.4rem;
  width: 31.2rem;
  min-width: 31.2rem;
  height: 34.8rem;
  min-height: 34.8rem;
  padding: 1.6rem;
  cursor: pointer;
  background: c.$white;
  border: 0.1rem solid c.$gray-300;
  border-radius: 1.2rem;

  @include r.media('mobile') {
    gap: 1.2rem;
    width: 17.1rem;
    min-width: 17.1rem;
    height: 26rem;
    min-height: 26rem;
    padding: 1.2rem;
  }

  transition: transform 0.3s ease,
  box-shadow 0.5s ease;

  &:hover {
    box-shadow: 5px 5px 8px 5px rgb(0 0 0 / 20%);
    transform: scale(0.95);
    background: c.$gray-200;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 16rem;
  overflow: hidden;
  border-radius: 1.2rem;

  @include r.media('mobile') {
    max-height: 9.1rem;
  }
}

.contentWrapper {
  @include common;

  width: 100%;
}

.infoWrapper {
  @include common;

  gap: 0.8rem;

  .title {
    @include font1;

    display: -webkit-box;
    overflow: hidden;
    font-size: 2rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    @include r.media('mobile') {
      font-size: 1.6rem;
    }
  }

  .info {
    display: flex;
    gap: 0.6rem;
    align-items: flex-start;

    .icon {
      width: 1.6rem;
      height: 1.6rem;
    }

    .time {
      @include font2;
    }

    .location {
      @include font2;
    }
  }
}

.salaryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include r.media('mobile') {
    flex-direction: column;
    align-items: flex-start;
  }

  .salary {
    @include font1;

    display: -webkit-box;
    overflow: hidden;
    font-size: 2.4rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .raise {
    display: flex;
    align-items: center;

    transition: transform infi ease-in-out;

    &:hover {
      animation: scaleanimation 1s infinite;
    }

    @keyframes scaleanimation {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }

    @media (width >=768px) {
      gap: 0.6rem;
      align-items: center;
      padding: 1.2rem;
      background: c.$red-400;
      border-radius: 2rem;
    }

    span {
      overflow: hidden;
      font-family: 'Spoqa Han Sans Neo';
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: c.$white;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include r.media('mobile') {
        font-family: 'Spoqa Han Sans Neo';
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        color: c.$red-400;
        text-align: center;
      }
    }

    .raiseicon {
      display: flex;
      width: 1.3rem;
      height: 1.3rem;

      @include r.media('mobile') {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.completedDesk {
  background-color: c.$gray-500 !important;
}

.completedMobile {
  background-color: c.$white;
}

.completeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 70%) 100%);

  .complete {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: c.$gray-400;
    text-align: center;
    letter-spacing: 0.056rem;
  }
}
