@import '@/styles/_index';

.sectionWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.announceWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}
.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .title {
    color: $black;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
  }
  .filterArea {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }
}

.sortButton {
  display: flex;
  height: 3rem;
  padding: 1.2rem;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.5rem;
  background: $gray-400;
  color: $black;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.filterButton {
  display: flex;
  height: 3rem;
  padding: 1.2rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #ff8d72;
  color: $white;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.sortList {
  display: flex;
  width: 11rem;
  padding: 1.2rem 0;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  border-radius: 0.6rem;
  border: 1px solid $gray-300;
  background: $white;
  box-shadow: 0 0.4rem 2.5rem 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  .sortItem {
    display: flex;
    width: 100%;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    color: $black;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    border-bottom: 0.1rem solid $gray-300;
    cursor: pointer;
  }
  .sortItem:last-child {
    border-bottom: none;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.4rem;
  grid-row-gap: 3.2rem;
  width: 100%;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
// //
// $white: #ffffff;
// $black: #111322;
// $gray-100: #fafafa;
// $gray-200: #f2f2f3;
// $gray-300: #e5e4e7;
// $gray-400: #cbc9cf;
// $gray-500: #a4a1aa;
// $gray-600: #7d7986;
// $red-100: #ff3b37;
// $red-200: #ffaf9b;
// $red-300: #ff8d72;
// $red-400: #ff4040;
// $red-500: #ea3c12;
// $red-600: #ffebe7;
// $blue-100: #cce6ff;
// $blue-200: #0080ff;
// $green-100: #d4f7d4;
// $green-200: #20a81e;
// $yellow-kakao: #fee500;
